/* e80202 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", sans-serif;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0269a4;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 6vw;
    line-height: 0.9em;
    z-index: 1000;
    font-weight: 600;
    text-transform: uppercase;
}

h2 span {
    font-size: 0.4em;
    letter-spacing: 0.3em;
    font-weight: 400;
    text-transform: none;
}

.block {
    position: absolute;
    width: 50px;
    height: 100px;
    background: #0269a4;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}
